@charset "UTF-8";
/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
  }
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
} */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #C0D8E0;
  font-family: 'Varela Round', sans-serif;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 400px;
  height: 650px;
  /* padding: 20px; */
  border-radius: 5px;
  background-color: white;
}

#heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  background-color: #56A3A6;
}

h1 {
  color: white;
  margin: 0;
}

form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form div.file {
  position: relative;
  height: 80px;
  background-color: #56A3A6;
}

#form div.file::after {
  content: 'kattints vagy húzd ide a fájlodat';
  font-weight: 200;
  display: block;
  text-align: center;
}

#form div.file label {
  display: block;
  padding-top: 20px;
  text-align: center;
}

#form div.file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}

input:focus {
  background-color: #C0D8E0;
  border: 2px solid #56A3A6;
  border-radius: 3px;
  outline: none;
  font-family: 'Varela Round', sans-serif;
}

input[type='text'], input[type='email'], input[type='file'] {
  margin-bottom: 20px;
}

input[type='text'], input[type='email'] {
  width: 90%;
  height: 50px;
}

input[type='file'] {
  width: 90%;
  height: 50px;
  border: 2px dashed #56A3A6;
  opacity: 1;
}

#firstNameInputDiv {
  width: 100%;
}

#personalEmailInputDiv {
  width: 100%;
}

#profilePictureInputDiv {
  width: 100%;
}

#newsletterInputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
}

#termsInputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
}

#whereInputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
}

/* input[type='radio'], input[type='select'], input[type='checkbox'] {
    margin-left: 20px;
} */
button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 50px;
  background-color: #56A3A6;
  color: white;
  border: none;
}

#inputValue img {
  width: 200px;
  height: 200px;
  position: fixed;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=style.css.map */